@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: linear-gradient(to bottom, #fff8ea, #fff8ea 50%, #a85eee 50%, #a85eee);
    font-family: 'Muli', sans-serif;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: white;
    
    width: 80px;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    padding: 20px;

    transition: width 0.6s linear;
}

nav.active {
    width: 350px;
}

nav ul {
    display: flex;
    list-style: none;
    position: relative;
    width: 0;

    margin: 0;
    padding: 0;

    transition: width 0.6s linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY('360deg');
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    cursor: default;
}

nav.active ul a {
    cursor: pointer;
}

.icon {
    background-color: white;
    
    position: relative;
    width: 30px;
    height: 30px;

    border: 0;
    padding: 0;
    margin: 0;

    cursor: pointer;
}

.icon .line {
    position: absolute;
    top: 10px;
    left: 5px;

    width: 20px;
    height: 2px;

    background-color: #a85eee;

    transition: transform 0.6s linear;
}

.icon.focus {
    outline: 0;
}
.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}