@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body {
    background-color: #8e44ad;
    font-family: 'Roboto Mono', monospace;

    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}


.couters-container {
    gap: 3rem;
}

.counter {
    flex-direction: column;
    color: white;

    padding: 1rem;
}

.counter h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 20px 0;
}

.counter span {
    font-size: 1.2rem;
    font-weight: 400;
}

